html {font-size:30px}


*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.blabla{
    background-color: pink;
    min-height: 50vh;
    max-height: 75vh;
    overflow: auto;
}

.i-am-the-boss{
    background-color: cyan;
}

.i-am-the-boss p{
    padding: 2rem;
    font-size: 1.2rem;
}
